av
einops
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
numpy
sentencepiece
spacy>=3.6.1
torch==2.4.0
torchaudio==2.4.0
huggingface_hub
tqdm
transformers>=4.31.0
xformers
demucs
librosa
soundfile
gradio
torchmetrics
encodec
protobuf
num2words
